/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body
{
	background: #000;
  font-size: 15px;
  line-height: 1.6;
}
/*
.main{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
*/
.header{
	display: flex;
	border-bottom: 1px solid #ffffff;
	justify-content: space-between;
  color: #ffffff;
	background-color: rgba(0, 0, 0, 0.7);;
	overflow: 0.5;
	position: sticky;
	top: 0;
	z-index: 20;
	width: 100%;
}

.logoCompany{
	height: 100%;
}

.logImg{
	width: 35%;
	height: 100%;
}

.nav{
	display: inline-block;
	text-align: center;
	word-spacing: 2px;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Piazzolla', serif;
	color: black;
	width: 70%;
}
.nav a{
	color: #ffffff;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	position: relative;
}

.language_button{
	font-size: 18px;
	color: #fff;
}

.nav a:nth-child(1n+1):hover{
	text-shadow: 1px 2px 3px #ffffff;
}
.container_header{
	display: flex;
	align-items: center;
}

.class_clear_box_p{
	font-size: 22px;
	color: #ffffffff;
	font-weight: 600;
	text-align: center;
}

.container_main_bat1{
	display: flex;
	align-items: center;
	background-color: black;/*#7d8631*/
	background-image: url("D:/Project/Atom/JS/Mobile Website/resurce/images/Table.png");
	background-size: cover;
	margin: 10px 0px 10px 0px;
	height: 560px;
}
.container_main_bat2{
	display: flex;
	align-items: center;
	background-color: black; /*#be1e2d;*/
	background-image: url("D:/Project/Atom/JS/Mobile Website/resurce/images/Table.png");
	background-size: cover;
	margin: 10px 0px 10px 0px;
	height: 560px;
}
.container_main_bat3{
	display: flex;
	align-items: center;
	background-color: black; /*#7895a4;*/
	background-image: url("D:/Project/Atom/JS/Mobile Website/resurce/images/Table.png");
	background-size: cover;
	margin: 10px 0px 10px 0px;
	height: 560px;
}
.container_main_bat4{
	display: flex;
	align-items: center;
	background-color: black;/*#b5babe;*/
	background-image: url("D:/Project/Atom/JS/Mobile Website/resurce/images/Table.png");
	background-size: cover;
	margin: 10px 0px 10px 0px;
	height: 560px;
}
.container_main_bat5{
	display: flex;
	align-items: center;
	background-color: black;/*#ffbf77;*/
	background-image: url("D:/Project/Atom/JS/Mobile Website/resurce/images/Table.png");
	background-size: cover;
	margin: 10px 0px 10px 0px;
	height: 560px;
}

.container_internal_img{
}
.cantainer_internal_p{
	align-self: flex-start;
	width: 100%;
  margin: 80px 50px 0px 0px;
}
.container_button{
	margin: 0px 0px 0px 125px;
}
.class_button_bat{
	/*background-color: #ffffff;*/
  border-radius: 50%;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
	background-image: url("D:/Project/Atom/JS/Mobile Website/resurce/images/Bat1/living_0.png");
	background-size: cover;
	color: red;
}
.p_bat{
	display: block;
	font-size: 28px;
	font-family: 'Piazzolla', serif;
	color: #ffffff;
	position: relative;
	border: 5px solid #67523b;
	box-shadow: 0px 0px 3px 3px black;
	text-align: justify;
	padding: 10px;
	font-weight: 900;
	background: #a27644;
}
.bat_img{
	display: block;
	width: 75%;
  margin: 0px 0px 0px 75px;
}


}
.container_p_bat{
	width: 100%;
}
.class_scroll_img{
	margin: 20px 20px 20px 20px;
	position: relative;
}
.scroll_img{
	width: 100%;
	height: auto;
}

.class_new_information{
	display: flex;
	border-bottom: 1px solid #ffffff;
}
.container_img{
	width: 50%;
	margin: 10px 0px 10px 0px;
}
.new_information_img{
	display: inline-block;
	width: 100%;
	height: auto;
}

.container_text{
	width: 50%;
	margin: 0px 10px 10px 10px;
	height: auto;
}
.p_new_information{
	position: relative;
	font-size: 28px;
	color: #ffffff;
	font-family: 'Piazzolla', serif;
	font-weight: 600;
	text-align: justify;
}
.clear_box{
	border-top: 1px solid #ffffff;
	margin: 10px 0px 10px 0px;
	border-bottom: 1px solid #ffffff;
	background-color: #4a4a4a;
}

.p_footer{
	font-size: 22px;
	color: #ffffff;
	font-family: 'Piazzolla', serif;
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
	position: absolute;
	top: 40%;
	z-index: 10;
	font-size: 0;
	width: 5%;
	height: 100%;
	opacity: 0.5;
}

.slick-arrow:hover{
	width: 8%;
	height: 100%;
	opacity: 1;

}

.slick-arrow:active{
	width: 5%;
	height: 100%;
	opacity: 0.5;

}

/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

/* Конкретный слайдер*/
.slider .slick-arrow.slick-prev
{
	left: 0;
	background: url("D:/Project/Atom/JS/Mobile Website/resurce/images/arrows-rev.png" ) 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next
{
	right: 0;
	background: url("D:/Project/Atom/JS/Mobile Website/resurce/images/arrows-next.png") 0 0 / 100% no-repeat;
}

.slider{
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 20px;
}
/* Активная точка */
.slider .slick-dots li.slick-active button{
	background-color: red;
	border: 1px solid #fff;
}
/* Элемент точки */
.slider .slick-dots li button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.footer_class{
	background-color: #4a4a4a;
}
.class_footer_top{
	background-color: #4a4a4a;
	margin: 50px 0px 0px 0px;
}
.img_vk{
	width: 50px;
	height: 50px;
}

.p_footer{
	font-size: 14px;
	font-family: 'Piazzolla', serif;
	text-align: center;
}
.p_footer_top{
	font-size: 22px;
	color: #fff;
	font-family: 'Piazzolla', serif;
	text-align: left;
	font-weight: 700;
}
